body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.top {
    display: flex;
    font-family: "Hero", sans-serif;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 25px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.top {
    padding: 16px 150px;
}
